* {
    margin: 15px 20px;
}

/* define the flexbox */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fbbc93;
  margin: 0;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* header stuff */

.page-title {
  flex-grow: 9;
}

.page-title p {
  font-size: 2vw;
  cursor: pointer;
  font-style: none;
  padding-left: 1%;
  float: left;
}

.page-title p:hover{
  text-shadow: 3px 3px 2px gray;
  font-size: 2vw;
}

.title-contact {
  flex-grow: 1;
  background-color: white;
}

header{
  padding: 0vw;
  text-align: center;
  font-family: 'Great Vibes', cursive;
}

header h1{
  font-size: 4.5vw;
  font-style: italic;
  letter-spacing: 0.1em;
  background-color: white;
  text-align: center;
}

header a {
  text-decoration: none;
  font-style: italic;
  color: black;
}

.page-title a:hover{
  text-shadow: 3px 3px 2px gray;
  font-size: 4.6vw;
}

.title-contact {
  font-size: 1.5vw;
  letter-spacing: 0em;
  align-self: flex-end;
}

.title-contact a:hover{
  text-shadow: 3px 3px 2px gray;
  font-size: 1.6vw;
}

/* nav stuff */
nav {
  background-color: green;

}

/* content stuff */

.main-content {
  background-color: darkkhaki;
}

/* footer stuff */

footer {
  background-color: yellow;
}

/* flexbox stuff */
.home-flex, .about-flex, .contact-flex, .image1-flex, .image2-flex, .reviews-flex {
  background-color: magenta;
}
.main-content p{
  text-align: center;
  background-color: gold;
}
.page-name {

  text-align: center;
  background-color: gold;
}

nav, header h1, footer, .main-content, .flex-container, .page-header h1, .header-contact, .page-name, .title-contact {
  outline-style: solid;
}
