* {
    margin: 15px 20px;
}

/* define the flexbox */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: maroon;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* header stuff */

.page-title {
  flex-grow: 9;
}

.header-contact {
  flex-grow: 1;
  background-color: salmon;
}

.header-contact p{
  text-align: right;
  background-color: aquamarine;
}

header{
  padding: 0.2vw;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-style: italic;
  background-color: lime;
}

header h1{
  font-size: 4vw;
  letter-spacing: 0.1em;
  background-color: aqua;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  text-shadow: 3px 3px 2px gray;
  font-size: larger;
}


/* nav stuff */
nav {
  background-color: green;

}

/* content stuff */

.main-content {
  background-color: darkkhaki;
}

/* footer stuff */

footer {
  background-color: yellow;
}

/* flexbox stuff */
.home-flex, .about-flex, .contact-flex, .image1-flex, .image2-flex {
  background-color: magenta;
}

nav, header, header h1, footer, .main-content, .flex-container, .page-header h1, .header-contact {
  outline-style: solid;
}
